.left{ 
	background: url('../img/bg.png');
	position: fixed;
	width: 1277px;
	height: 725px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.right{
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
}

body{
	font-family: 'helvetica', 'arial', 'sans-serif';

}

.Interface{
	text-align: fixed;
	padding: 30px;
	padding-left: 75px;
	color: white;
}

.ground{
	background: url('../img/moon.png');
	position: fixed;
	margin-bottom: -90px;
	bottom: 0px;
	left: 30%;
	width: 511px;
	height: 258px;

}
.Babe{
	background-image: url('../img/HiBabe.png');
	bottom: 100px;
	left: 50%;
	width: 214px;
	height: 79px;
	margin-top: 184px;
	margin-left: -134px;
	display: none;
}

.Miss{
	background-image: url('../img/Mwaah.png');
	bottom: 100px;
	left: 50%;
	width: 214px;
	height: 79px;
	margin-top: 75px;
	margin-left: 165px;
	display: none;
}

.Babe.show{
	display: block;
}
.Miss.show{
	display: block;
}
.Rocket{
	position: fixed;
	size: fixed;
	left: 45%;
	bottom: 5%;
	margin-top: 50px;
	width: 220px;
	height: 400px;
	background: url('../img/State1.gif') no-repeat 0 center;
	transition: bottom 10000ms;
}

a.button{
	display: inline-block;
	background-color: white;
	color: black;
	padding: 30px 110px;
	text-decoration: none;
	border-radius: 15px;
	text-transform: uppercase;
	transition: color 300ms;

}
a:hover{ 
	color: red;

}


/* rocket bg image*/

body.body-state2 .Rocket{
}
body.body-state3 .Rocket,
body.body-state4 .Rocket{
     background-image: url('../img/state3.gif');
}
body.body-state5 .Rocket{
}
/*cut*/
body.body-state1 .Rocket{
	 transition: none;
}
body.body-state3 .Rocket,
body.body-state4 .Rocket{
	 bottom: 1000px;
}

.state1,
.state2,
.state3,
.state4,
.state5{
	display: none
}



body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}


